<!-- Interpolation Sample -->
<h3>Interpolation</h3>
Using Interpolation<br>
Name: {{firstname}} {{lastname}} Age: {{age}}
<br><br>
Using Interpolation only once<br>
{{'Name: ' + firstname + ' ' + lastname + ' Age: ' + age}}

<br><br><br>

<!-- Event biniding -->
<h3>property/Event binding</h3>
<div class="container">
  <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" required name="name" [value]="name">
    </div>

    <button class="btn btn-success" type="button" (click)="changeText()">Submit</button>

</div>

<br><br>

<!-- Two way binding -->
<h3>Two way binding </h3>
<h4>two way binding without submit button</h4>
<div class="container">
  <input type="number" class="form-control" placeholder="1st value here" [(ngModel)]="val1" (input)="add()">
  <br>
  <input type="number" class="form-control" placeholder="2nd value here" [(ngModel)]="val2" (input)="add()">
  
  <input type="number" class="form-control" placeholder="sum here" [value]="sum1">
</div>

<h4>two way binding with submit button</h4>
<div class="container">
  <input type="number" class="form-control" placeholder="1st value here" [(ngModel)]="v1">
  <br>
  <input type="number" class="form-control" placeholder="2nd value here" [(ngModel)]="v2">

  <input type="number" class="form-control" placeholder="result here" [(ngModel)]="sum2">
  <br>
  <button class="btn btn-success" type="button" (click)="add2()">sum</button>
</div>

<br><br><br>

<h2>ngFor</h2>
<br>
<div class="container">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let x of fruits;let i=index"> 
  {{i+1}}-{{x}} </li>  <!--for loop-->
</ul>
</div>
  
  
<br><br><br>

<h2>ngSwitch - </h2><h4>when we have some default cases other than if or we have some fixed literals than we use Switch</h4>
<br>
<div class ="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let y of people" [ngSwitch]="y.country">
    <div *ngSwitchCase="'IN'" class="text-primary">{{y.name}}-{{y.country}}</div>
    <div *ngSwitchCase="'UK'" class="text-success">{{y.name}}-{{y.country}}</div>
    <div *ngSwitchCase="'US'" class="text-danger">{{y.name}}-{{y.country}}</div>
    <div *ngSwitchCase="'AU'" class="text-success">{{y.name}}-{{y.country}}</div>
    <div *ngSwitchDefault class="text-dark">{{y.name}}-{{y.country}}</div>
    </li>
  </ul>
</div>

<br><br><br>

<h2>ngClass & ngStyle </h2>
<br>
<div class ="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let y of people;">
    <div [ngClass]="{
      'text-primary':y.country=='IN',
      'text-dark':y.country=='AU',
      'text-danger':y.country=='UK',
      'text-success':y.country=='US'
    }" [ngStyle]="{
      'font-size':'36px',
      'text-decoration':'underline'
    }">{{y.name}}-{{y.country}}</div>
    </li>
  </ul>
</div>